<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <style>
        body{
         background-color:plum;
         font-family: 'Times New Roman', Times, serif;
         margin-left: 20px;
        }

        a{
            color:black;
        }
     </style>
</head>
<body>
    <a href="{{url_for('register')}}">REGISTRE-SE</a> | <a href="{{url_for('login')}}">LOGIN</a>

    {% if nome %}

        | <a href="{{url_for('logout')}}">LOGOUT</a>

        <h3>Usuário Logado: Bem vindo, {{nome}}</h3>
    {% else %}

           <h3 style="color:darkblue"> Situação: Nenhum usuário ativo</h3> 

    {% endif %}
</body>
</html>